/*
  Red Orange #FF4500
  Orange #FF8300
  Chili Pepper #DF362D
  Chartreuse #B7AC44
*/

/*************ALL***************/
* {
  font-family: "Noto Sans", sans-serif;
}

* > a {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  min-height: 400vh;
}

strong {
  font-weight: normal;
}

p {
  text-align: justify;
}

.orangeLink {
  color: #ff8400;
}

/*************HEADER***************/

.header {
  background: #000000;
  background-image: url("../img/backgroundmath.jpg");
  background-size: 30%;
  color: #ffffff;
  text-shadow: #000000 2px 2px;
  box-shadow: 0px 0.5px 5px #000000;
  position: inherit;
  width: 100%;
  height: 75px;
  margin-bottom: 5px;
  font-family: "Raleway", sans-serif;
  letter-spacing: -1px;
  z-index: 9999;
  /* transition-duration: 0.6s; */
}

/* .header:hover {
  background-color: #ffffff;
  background-image: none;
  color: #000000;
  text-shadow: #ffffff 1px 2px;
  box-shadow: none;
} */

#cursor {
  display: flex;
  margin-left: 0rem;
  position: inherit;
}

/* #cursor::after {
  content: "";
  position: relative;
  height: 2rem;
  width: 3px;
  background: #000000;
  bottom: 0px;
  top: 2px;
  right: 0px;
  left: 0px;
  animation: anim 1s linear infinite;
}
@keyframes anim {
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
} */

#navbar {
  background: #000000;
  color: #ffffff;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 70px;
  top: -70px;
  transition: 0.5s;

  font-family: "Raleway", sans-serif;
  letter-spacing: -1px;
}

ul {
  list-style-type: none;
  padding-top: 15px;
  margin-top: 0px;
  margin-left: 8rem;
  margin-right: 8rem;
  font-size: 2rem;

  display: flex;
  justify-content: space-arround;
  padding: 0;
}


.MMIHeader {
  margin: 0;
  padding: 0;
  height: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}


#MMIheader{
  color: #ffffff;
}

#MMIheader:hover{
  text-decoration: none;
}

#MMIHeaderLink {
  color: #FF8300;
}

#copyHeader {
  font-size: 20px;
  margin-left: 5px;
}

#newsLink {
  color: #ffffff;
}

#newsLink:hover{
  text-decoration: none;
}

li {
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titlewebsite {
  flex: 2 1 auto;
  justify-content: left;
  font-size: larger;
  color: #ff8300;
  text-shadow: #DF362D 1px 1px 3px;
}

#mmiPriceNavbar {
  margin: 0;
  margin-top: 15.8px;
  padding: 0;
  width: 30%;
  height: 40px;
}

.titlewebsite2 {
  flex: 2 1 auto;
  justify-content: left;
}

.titlewebsite2 > a {
  text-decoration: none;
  color: #ff8300;
  font-size: larger;
  margin-right: -10px;
}

#MMInavbarTitle {
  width: 30%;
  margin-right: 90px;
  font-size: larger;
}

#letterMMIHeader {
  color: #ff8300;
  padding: 0;
  margin-top: 1px;
  margin-left: 14px;
  margin-right: 0.5px;
  display: inline-block;
  font-weight: 100;
}

#copyrightHeader {
  font-size: 15px;
  margin-left: 4px;
  margin-top: 18px;
  font-weight: 100;
}

.share {
  width: auto;
  margin-left: 50px;
}

#shareMnemo {
  margin-left: -50px;
  margin-top: 6px;
}

.share > span {
  font-family: "Inter", sans-serif;
}

.HeaderPriceUp {
  background-color: #78b74477;
}

.HeaderPriceDown {
  background-color: #df362d76;
}

#shareDate {
  font-size: 12px;
}

#mnftHeader {
  color: #ffffff;
}

#mnftHeader:hover{
  text-decoration: none;
}

/*************BODY***************/

.body {
  margin-left: 20%;
  margin-right: 20%;
}

.slogan {
  text-align: center;
}


.subSlogan {
  text-align: center;
  margin-top: -15px;
}

#quote {
  margin-top: 10px;
  margin-bottom: -30px;

  font-size: large;
  font-style: italic;
  color: #000000b5;
}

q {
  quotes: "« " " »";
}

.mmititle {
  text-align: center;
  margin-top: 60px;
  font-size: 50px;
}

.mmisubtitle {
  margin-top: -30px;
  text-align: center;
  font-size: 10px;
}

.aboutMMI {
  display: inline-block;
  width: auto;
  height: fit-content;
  text-align: left;
} 

/*------DETAILS TABLE MMI---------------*/

.AboutMMITables{
  display: flex;
  justify-content: space-between; 
  align-items: stretch;
  gap: 100px;
}

table.detailsMMI {
  box-shadow: 3px 5px 10px #00000088;
  border-collapse: collapse;
  border: 1px solid #000000;
  width: 50%;
  margin-bottom: 30px;
}

table.detailsMMI td, table.detailsMMI th {
  border-left: 2px solid #AAAAAA;
  padding: 3px 5px;
}

.detailsMMI tbody > tr:nth-child(even) {
  background-color: #EEEEEE;
}

.detailsMMI tbody > tr:hover {background-color: #ddd;}

table.detailsMMI thead {
  background: #FF8300;
  background: -moz-linear-gradient(top, #ffa240 0%, #ff8f19 66%, #FF8300 100%);
  background: -webkit-linear-gradient(top, #ffa240 0%, #ff8f19 66%, #FF8300 100%);
  background: linear-gradient(to bottom, #ffa240 0%, #ff8f19 66%, #FF8300 100%);
  border-bottom: 1px solid #000000;
  font-size: 30px;
}

table.detailsMMI th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

table.detailsMMI tfoot td {
  font-size: 14px;
}
table.detailsMMI tfoot .links {
  text-align: right;
}
table.detailsMMI tfoot .links a{
  display: inline-block;
  background: #FF8300;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.asteriscDIVAboutMMI{
  display: flex;
  align-items: stretch;
  gap: 8%;
}

#asteriscAboutMMI{
  font-size: 12px;
  font-style: italic;
  display: inline-block;
}

/*-------------------------------*/

#mmiTextAbout {
  margin-top: -20px;
  margin-bottom: 40px;
}


/*------------PRIMARY VALUES---------------*/

/*
  Red Orange #FF4500
  Orange #FF8300
  Chili Pepper #DF362D
  Chartreuse #B7AC44
  Green light #78b74477
  Green #78b744
*/

.compositionTitle {
  margin-top: 120px;
  font-size: 40px;
}

.compositionLetter{
  color: #FF8300;
}

.compositionText {
  margin-bottom: -20px;
}

.primaryValuesInfo{
  width: 100%;
  margin-top: 20px;
  padding: 0;

  display: flexbox;

  border: 1px solid #000000;
}

.UMGbold {
  font-weight: bold;
}

#tableMMI {
  border-collapse: collapse;
  width: 100%;
}

#tableMMI2 {
  border-collapse: collapse;
  width: 100%;
}

#tableMMI th {
  background-color: #FF8300;
  color: #ffffff;
}

#tableMMI2 th {
  background-color: #FF8300;
  color: #ffffff;
}

#tableMMI td, #tableMMI th {
  border: 1px solid #ddd;
  padding: 5px;
}

#tableMMI2 td, #tableMMI2 th {
  border: 1px solid #ddd;
  padding: 5px;
}

#tableMMI tr:nth-child(even) {background-color: #f2f2f2;}
#tableMMI2 tr:nth-child(even) {background-color: #f2f2f2;}

#tableMMI tr:hover {background-color: #ddd;}
#tableMMI2 tr:hover {background-color: #ddd;}

th {
  text-align: left;
  font-size: large;
  border-bottom: 1px solid #000000;
}

td {
  text-align: left;
  margin: 0;
  padding: 0;
}

.exposantTable {
  margin-top: 15px;
  font-size: 14px;
  font-style: italic;
}

/*------------SPOTIFY FOOTER---------------*/

.spotifyFooter {
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  position: fixed;
  background: #FF8300;
  box-shadow: 0px 0.5px 5px #000000;

  display: flex;
  transition: 0.5s;

  z-index: 9999;
}

.spotifyFooterLeft {
  width: 50%;
}

.spotifyReader {
  margin: 0;
  padding-left: 50px;
  text-align: left;
  text-shadow: 0px 0.5px 5px #000000;
}

.spotifyFooterText {
  font-weight: 600;
}

#close {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 7px;
  color: #ffffff;
  background-color: #000000;

  height: 20px;
  width: 27px;
  border-radius: 50%;
  border: 2px solid #000;

  position: relative;
  top: -14px;
  left: 480px;
}

.closeCross {
  position: relative;
  margin-top: 3px;
  width: 20px;
}

.closeArray {
  position: relative;
  margin-bottom: 4px;
  width: 15px;
}

/*------------GRAPH---------------*/

/*------------GRAPH OPTIONS---------------*/

.graphOptions {
 margin-bottom: 10px;
 display: flex;
 flex: wrap;
 width: 100%;
 height: 30px;
}

.dynVariationDIV{
  display: inline-flex;
  height: 30px;
  margin-right: 55px;
  justify-content: right;
  flex: 1 1;
}

.dynVariation{
  text-align: right;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

/* button graph data */

.xAxesMMI {
  margin-left: 40px;
  margin-bottom: 5px;
}

.xAxesMMIAbout {
  margin-left: 40px;
  margin-bottom: 5px;
  width: 100%;

  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
  align-content: normal;
}

.buttonMMIGraph {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-block;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  padding: 5px 15px;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.buttonMMIGraph:hover {
  background: #F6F9FE;
  color: #FF8300;
}

.buttonMMIGraph:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.buttonMMIGraph:focus {
  outline: none;
  border-bottom: 2px solid #FF4500;
}

.buttonMMIGraph:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.buttonMMIGraph:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.buttonMMIGraph:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.buttonMMIGraph:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.buttonMMIGraph:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.LeftButtons {
  margin: 0; 
  padding: 0; 
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.RightButtons{
  margin: 0; 
  padding: 0; 
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

/* button finish */

.mmiPriceDisplay {
  margin-top: 10px;
  display: flex;
  width: auto;
  padding-right: 40px;
  justify-content: right;
}

.mmiPriceAboutDIV{
  display: flex;
}

.mmiPriceDisplayAbout {
  flex: 1 1;
  margin-top: 10px;
  display: flex;
  width: auto;
  padding-left: 65px;
  justify-content: left;
}

.eodDate {
  text-align: right;
  margin-top: -15px;
  width: 95%;
}

.eodDate2 {
  text-align: left;
  margin-bottom: 20px;
  margin-top: -15px;
  margin-left: 26px;
}

.dynVariationDIV2{
  display: inline-flex;
  margin-top: 30px;
  height: 40px;
  text-align: right;
}

.mmiPrice {
  margin: 0;
  margin-left: -40px;
  margin-bottom: 10px;
  font-size: 45px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  letter-spacing: 0px;
  color: #000000;
}

.Arrow {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-right: 40px;
}

.ArrowAbout {
  width: 25px;
  height: 25px;
  margin-top: -5px;
  margin-left: -50px;
}

.ArrowAbout2 {
  width: 25px;
  height: 25px;
  margin-top: 2px;
  margin-left: -25px;
}

.PriceUp {
  color: #78b744;
}

.PriceDown {
  color: #DF362D;
}

.currencyMMI {
  margin-left: 2px;
  margin-top: 23px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  color: #000000;
}

.btcPriceDiv{
  margin-top: -100px;
  display: flex;
}

#btcPrice{
  margin-left: 50px;
  font-size: 38px;
}

.btc_exchange{
  margin-left: 43px;
  margin-top: -35px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #FF4500;;
}

#copyright {
  font-size: 20px;
}

.mmi {
  margin: 0;
  padding: 0;
}

.chart {
  margin-bottom: 15px;
}

/*----------------MMI GRAPH ABOUT PAGE------------------*/

.volatilityChart{
  height: 150px;
  margin-bottom: 40px;
}

/*--------------------------*/

#letterMMI {
  color: #ff8300;
}

#MMILink{
  color: #000000;
}

#AboutLink{
  color: #000000;
  text-decoration: none;
}

#AboutLink:hover {
  color: #ff8300;
}

.mmiText {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.mmiTextEmphasize{
  color: #FF8300;
  font-weight: 600;
}

.primaryValues {
  margin-top: 65px;
  font-size: 25px;
}

#legalmentions {
  font-style: italic;
  margin: 0;
  padding: 0;
  text-align: justify;
  font-size: small;
}

.mnftDiv{
  margin-top: 200px;
}

#mnftTitle {
  font-size: 50px;
  text-align: center;
}

/*************RESPONSIVE***************/

@media screen and (max-width: 896px) {
  .header {
    height: 80px;
    background-size: 70%;
  }

  ul {
    flex-direction: column;
    margin-bottom: -80px;
    height: 70px;
  }

  .body {
    margin-top: -80px;
  }

  .titlewebsite {
    flex: none;
    justify-content: center;
  }

  .share {
    margin: 0;
    margin-top: -20px;
    padding: 0;
    font-size: 20px;

    visibility: hidden;
  }

  .slogan {
    margin-top: 100px;
    margin-bottom: -50px;
  }

  .spotifyFooter {
    visibility: hidden;
  }

  #shareMnemo {
    margin-left: 0;
    text-align: center;
    background-color: #df362d;

    visibility: hidden;
  }

  #shareDate {
    margin-top: -30px;
    font-size: 10px;

    visibility: hidden;
  }

  #menu {
    margin-top: -50px;
    visibility: hidden;
  }

  .mmititle {
    padding-top: 30px;
    font-size: 40px;
    margin-bottom: 40px;
  }

  .mmiPriceDisplay {
    justify-content: center;
    margin-left: 60px;
  }

  .mmiPrice {
    font-size: 30px;
  }
  .currencyMMI {
    font-size: 10px;
  }
  .Arrow {
    width: 20px;
    height: 20px;
  }

  /*-----GRAPH-----*/
  #mmiChart {
    height: 600px;
  }

}
